body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:997px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u31434 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:187px;
  width:971px;
  height:123px;
}
#u31435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u31435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
}
#u31435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31436 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:0px;
  width:160px;
  height:41px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u31436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
}
#u31436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31437 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:0px;
  width:205px;
  height:41px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u31437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:41px;
}
#u31437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31438 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:0px;
  width:161px;
  height:41px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u31438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:41px;
}
#u31438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31439 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:0px;
  width:147px;
  height:41px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u31439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:41px;
}
#u31439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31440 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:0px;
  width:154px;
  height:41px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u31440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
}
#u31440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:142px;
  height:41px;
  display:flex;
  transition:none;
}
#u31441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
}
#u31441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31442 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:41px;
  width:160px;
  height:41px;
  display:flex;
  transition:none;
}
#u31442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
}
#u31442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31443 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:41px;
  width:205px;
  height:41px;
  display:flex;
  transition:none;
}
#u31443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:41px;
}
#u31443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31444 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:41px;
  width:161px;
  height:41px;
  display:flex;
  transition:none;
}
#u31444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:41px;
}
#u31444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31445 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:41px;
  width:147px;
  height:41px;
  display:flex;
  transition:none;
}
#u31445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:41px;
}
#u31445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31446 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:41px;
  width:154px;
  height:41px;
  display:flex;
  transition:none;
}
#u31446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
}
#u31446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:142px;
  height:41px;
  display:flex;
  transition:none;
}
#u31447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
}
#u31447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31448 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:82px;
  width:160px;
  height:41px;
  display:flex;
  transition:none;
}
#u31448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
}
#u31448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31449 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:82px;
  width:205px;
  height:41px;
  display:flex;
  transition:none;
}
#u31449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:41px;
}
#u31449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31450 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:82px;
  width:161px;
  height:41px;
  display:flex;
  transition:none;
}
#u31450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:41px;
}
#u31450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31451 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:82px;
  width:147px;
  height:41px;
  display:flex;
  transition:none;
}
#u31451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:41px;
}
#u31451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31452 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:82px;
  width:154px;
  height:41px;
  display:flex;
  transition:none;
}
#u31452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
}
#u31452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31453 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:157px;
  width:984px;
  height:30px;
}
#u31454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:32px;
  display:flex;
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u31454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:32px;
}
#u31454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.596078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u31456 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:150px;
  width:300px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u31456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31457 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:161px;
  width:40px;
  height:24px;
  display:flex;
  transition:none;
  color:#0000BF;
}
#u31457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u31457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:43px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:left;
}
#u31458 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:17px;
  width:968px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:left;
}
#u31458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31460_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31460_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31460_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31460_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31460 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:105px;
  width:163px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31460_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31460.hint {
}
#u31460_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31460.disabled {
}
#u31460_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31460.hint.disabled {
}
#u31461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u31461 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:105px;
  width:64px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31462 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:105px;
  width:60px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31462 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31462_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31463 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:60px;
  width:985px;
  height:30px;
}
#u31464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:32px;
  display:flex;
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u31464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:32px;
}
#u31464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31465 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:236px;
  width:55px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31465_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u31466 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:324px;
  width:81px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31467 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:276px;
  width:55px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31467_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31469_input {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31469_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31469_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31469_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31469 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:105px;
  width:188px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31469_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31469.hint {
}
#u31469_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31469.disabled {
}
#u31469_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31469.hint.disabled {
}
#u31470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31470 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:105px;
  width:53px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31470 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31470_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31472_input {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31472_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31472_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31472_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31472 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:105px;
  width:188px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u31472_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31472.hint {
}
#u31472_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31472.disabled {
}
#u31472_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31472.hint.disabled {
}
#u31473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31473 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:105px;
  width:53px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31473 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31473_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
