body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u33753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u33753 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1000px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u33753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u33753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:564px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33754 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:55px;
  width:1000px;
  height:564px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u33754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u33754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:35px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u33756 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:529px;
  width:114px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u33756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u33756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u33757 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:529px;
  width:88px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u33757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u33757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u33758 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:323px;
  width:77px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u33758 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33758_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u33759 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:373px;
  width:77px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u33759 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33759_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u33760 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:419px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u33760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33760_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u33761 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:196px;
  width:41px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u33761 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33761_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u33762 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:161px;
  width:41px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u33762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33762_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u33763 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:126px;
  width:29px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u33763 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33763_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u33765_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u33765_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u33765_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u33765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33765 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:419px;
  width:500px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u33765 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u33765_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33765.hint {
}
#u33765_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33765.disabled {
}
#u33765_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33765.hint.disabled {
}
#u33766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33766 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:485px;
  width:31px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u33766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33766_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u33768 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:78px;
  width:153px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u33768 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33768_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:23px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33769 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:73px;
  width:6px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u33769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u33769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u33770 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:126px;
  width:34px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u33770 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33770_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u33771 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:161px;
  width:34px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u33771 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33771_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u33772 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:196px;
  width:148px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u33772 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33772_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u33773 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:276px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u33773 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33773_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u33774 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:276px;
  width:45px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u33774 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33774_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33775_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33775_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33775_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33775_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33775 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:315px;
  width:191px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u33775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u33775_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33775.hint {
}
#u33775_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33775.disabled {
}
#u33775_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33775.hint.disabled {
}
#u33776_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33776_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33776_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33776_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33776 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:365px;
  width:191px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u33776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u33776_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33776.hint {
}
#u33776_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33776.disabled {
}
#u33776_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33776.hint.disabled {
}
#u33777 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:320px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u33777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u33777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u33777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33778 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:370px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u33778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u33778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u33778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u33779 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:236px;
  width:36px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u33779 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33779_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u33780 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:236px;
  width:20px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u33780 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33780_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
