body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1047px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u14992 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u14992 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14992_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:left;
}
#u14993 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:42px;
  width:105px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:left;
}
#u14993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u14993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14995 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:105px;
  width:105px;
  height:7px;
  display:flex;
  transition:none;
}
#u14995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u14995_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:113px;
  height:15px;
}
#u14995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14996 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:125px;
  width:105px;
  height:7px;
  display:flex;
  transition:none;
}
#u14996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u14996_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:113px;
  height:15px;
}
#u14996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14997 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:143px;
  width:105px;
  height:7px;
  display:flex;
  transition:none;
}
#u14997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u14997_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:113px;
  height:15px;
}
#u14997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u14998 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:80px;
  width:84px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14998 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14998_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u14999 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:40px;
  width:910px;
  height:66px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u14999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15000_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15000_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15000_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15000 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:58px;
  width:123px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15000_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15000.hint {
}
#u15000_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15000.disabled {
}
#u15000_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15000.hint.disabled {
}
#u15001 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:123px;
  width:910px;
  height:200px;
}
#u15002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u15002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15003 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:79px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u15003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15004 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:342px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u15004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15005 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:0px;
  width:152px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u15005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15006 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:0px;
  width:112px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u15006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15007 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:0px;
  width:179px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u15007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:46px;
  height:40px;
  display:flex;
  transition:none;
}
#u15008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u15008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15009 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:40px;
  width:79px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u15009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u15009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15010 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:40px;
  width:342px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u15010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15011 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:40px;
  width:152px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u15011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u15011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15012 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:40px;
  width:112px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#027DB4;
}
#u15012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u15012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15013 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:40px;
  width:179px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u15013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u15013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:46px;
  height:40px;
  display:flex;
  transition:none;
}
#u15014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u15014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15015 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:80px;
  width:79px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u15015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u15015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15016 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:80px;
  width:342px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u15016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15017 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:80px;
  width:152px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u15017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u15017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15018 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:80px;
  width:112px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#027DB4;
}
#u15018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u15018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15019 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:80px;
  width:179px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#027DB4;
}
#u15019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u15019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:46px;
  height:40px;
  display:flex;
  transition:none;
}
#u15020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u15020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15021 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:120px;
  width:79px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u15021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u15021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15022 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:120px;
  width:342px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u15022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15023 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:120px;
  width:152px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u15023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u15023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15024 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:120px;
  width:112px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#027DB4;
}
#u15024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u15024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15025 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:120px;
  width:179px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#027DB4;
}
#u15025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u15025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:46px;
  height:40px;
  display:flex;
  transition:none;
}
#u15026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u15026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15027 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:160px;
  width:79px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u15027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u15027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15028 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:160px;
  width:342px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u15028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15029 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:160px;
  width:152px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u15029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u15029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15030 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:160px;
  width:112px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#027DB4;
}
#u15030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u15030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15031 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:160px;
  width:179px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u15031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u15031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u15032 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:58px;
  width:62px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u15032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15033 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:58px;
  width:62px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15034 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:65px;
  width:36px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15034 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15034_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15035_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15035_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15035_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15035 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:58px;
  width:123px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15035_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15035.hint {
}
#u15035_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15035.disabled {
}
#u15035_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15035.hint.disabled {
}
#u15036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15036 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:65px;
  width:48px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15036 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15036_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15037 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:65px;
  width:48px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15037 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15037_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15038 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:33px;
  width:910px;
  height:1px;
  display:flex;
  transition:none;
}
#u15038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:2px;
}
#u15038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#F2F2F2;
}
#u15039 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:4px;
  width:132px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#F2F2F2;
}
#u15039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15040 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:4px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15041 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:4px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15042 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:4px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15043 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:323px;
  width:378px;
  height:36px;
}
#u15044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u15045 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:14px;
  width:8px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u15045 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u15046 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:14px;
  width:8px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u15046 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u15047 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:14px;
  width:8px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u15047 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u15048 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:14px;
  width:8px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u15048 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:22px;
}
#u15049 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:14px;
  width:12px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:22px;
}
#u15049 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15049_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u15050 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:10px;
  width:47px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u15050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u15050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:22px;
}
#u15051 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:14px;
  width:36px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:22px;
}
#u15051 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15051_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
  line-height:22px;
}
#u15052 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:12px;
  width:22px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
  line-height:22px;
}
#u15052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:10px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.4000000059604645;
  transition:none;
}
#u15053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u15053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15054 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:18px;
  width:10px;
  height:10px;
  display:flex;
  opacity:0.4000000059604645;
  transition:none;
}
#u15054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u15054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u15056 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:10px;
  width:86px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u15056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u15056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15057 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:18px;
  width:10px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.4000000059604645;
  transition:none;
}
#u15057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u15057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15058 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:4px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15059_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15059 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:58px;
  width:120px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15059 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15059_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15059.disabled {
}
.u15059_input_option {
}
