body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:883px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u15499 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u15499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15499_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:left;
}
#u15500 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:42px;
  width:105px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:left;
}
#u15500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15502 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:105px;
  width:105px;
  height:7px;
  display:flex;
  transition:none;
}
#u15502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15502_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:113px;
  height:15px;
}
#u15502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15503 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:125px;
  width:105px;
  height:7px;
  display:flex;
  transition:none;
}
#u15503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15503_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:113px;
  height:15px;
}
#u15503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15504 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:143px;
  width:105px;
  height:7px;
  display:flex;
  transition:none;
}
#u15504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15504_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:113px;
  height:15px;
}
#u15504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15505 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:80px;
  width:84px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15505 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15505_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15506 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:33px;
  width:746px;
  height:1px;
  display:flex;
  transition:none;
}
#u15506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:2px;
}
#u15506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15507 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:4px;
  width:132px;
  height:30px;
  display:flex;
  transition:none;
}
#u15507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u15507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#F2F2F2;
}
#u15508 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:4px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#F2F2F2;
}
#u15508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15509 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:4px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15510 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:4px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15511 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:82px;
  width:442px;
  height:360px;
}
#u15512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u15512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15513 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:0px;
  width:250px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u15513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15514 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:0px;
  width:87px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u15514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:105px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u15515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u15515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15516 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:40px;
  width:250px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u15516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15517 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:40px;
  width:87px;
  height:40px;
  display:flex;
  transition:none;
  color:#027DB4;
}
#u15517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u15517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:105px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u15518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u15518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15519 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:80px;
  width:250px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u15519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15520 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:80px;
  width:87px;
  height:40px;
  display:flex;
  transition:none;
  color:#027DB4;
}
#u15520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u15520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:105px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u15521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u15521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15522 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:120px;
  width:250px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u15522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15523 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:120px;
  width:87px;
  height:40px;
  display:flex;
  transition:none;
  color:#027DB4;
}
#u15523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u15523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:105px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u15524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u15524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15525 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:160px;
  width:250px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u15525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15526 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:160px;
  width:87px;
  height:40px;
  display:flex;
  transition:none;
  color:#027DB4;
}
#u15526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u15526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:105px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u15527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u15527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15528 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:200px;
  width:250px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u15528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15529 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:200px;
  width:87px;
  height:40px;
  display:flex;
  transition:none;
  color:#027DB4;
}
#u15529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u15529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:105px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u15530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u15530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15531 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:240px;
  width:250px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u15531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15532 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:240px;
  width:87px;
  height:40px;
  display:flex;
  transition:none;
  color:#027DB4;
}
#u15532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u15532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:105px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u15533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u15533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15534 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:280px;
  width:250px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u15534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15535 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:280px;
  width:87px;
  height:40px;
  display:flex;
  transition:none;
  color:#027DB4;
}
#u15535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u15535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:105px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u15536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u15536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15537 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:320px;
  width:250px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u15537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15538 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:320px;
  width:87px;
  height:40px;
  display:flex;
  transition:none;
  color:#027DB4;
}
#u15538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u15538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15539 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:42px;
  width:127px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15540 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:4px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u15540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
