body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u29941 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:30px;
  width:929px;
  height:45px;
}
#u29942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:45px;
  display:flex;
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u29942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:45px;
}
#u29942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29943 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:476px;
  width:919px;
  height:194px;
}
#u29944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u29944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
}
#u29944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29945 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:0px;
  width:777px;
  height:41px;
  display:flex;
  transition:none;
}
#u29945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:41px;
}
#u29945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:142px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u29946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
}
#u29946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29947 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:41px;
  width:777px;
  height:41px;
  display:flex;
  transition:none;
}
#u29947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:41px;
}
#u29947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:142px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u29948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
}
#u29948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29949 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:82px;
  width:777px;
  height:41px;
  display:flex;
  transition:none;
}
#u29949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:41px;
}
#u29949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:142px;
  height:71px;
  display:flex;
  transition:none;
  text-align:left;
}
#u29950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:71px;
}
#u29950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29951 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:123px;
  width:777px;
  height:71px;
  display:flex;
  transition:none;
}
#u29951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:71px;
}
#u29951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29954_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29954_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29954_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29954 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:486px;
  width:163px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u29954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29954_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29954.hint {
}
#u29954_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29954.disabled {
}
#u29954_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29954.hint.disabled {
}
#u29955 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:490px;
  width:22px;
  height:17px;
  display:flex;
  transition:none;
}
#u29955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u29955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29958_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29958_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29958_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29958 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:527px;
  width:163px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u29958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29958_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29958.hint {
}
#u29958_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29958.disabled {
}
#u29958_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29958.hint.disabled {
}
#u29959 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:531px;
  width:22px;
  height:17px;
  display:flex;
  transition:none;
}
#u29959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u29959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29960 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:75px;
  width:934px;
  height:30px;
}
#u29961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:32px;
  display:flex;
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u29961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:32px;
}
#u29961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:54px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29962_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:54px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29962_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:54px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29962_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:54px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29962 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:607px;
  width:381px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u29962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29962_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29962.hint {
}
#u29962_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:54px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29962.disabled {
}
#u29962_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:54px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29962.hint.disabled {
}
#u29963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(217, 0, 27, 0.611764705882353);
}
#u29963 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:645px;
  width:135px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(217, 0, 27, 0.611764705882353);
}
#u29963 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29963_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u29964 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:567px;
  width:73px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u29964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(217, 0, 27, 0.611764705882353);
}
#u29965 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:571px;
  width:288px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(217, 0, 27, 0.611764705882353);
}
#u29965 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29966 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:108px;
  width:921px;
  height:328px;
}
#u29967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
  display:flex;
  transition:none;
  color:#000000;
  text-align:left;
}
#u29967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u29967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29968 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:777px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u29968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:41px;
}
#u29968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:144px;
  height:41px;
  display:flex;
  transition:none;
  color:#000000;
  text-align:left;
}
#u29969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u29969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29970 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:41px;
  width:777px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u29970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:41px;
}
#u29970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:144px;
  height:41px;
  display:flex;
  transition:none;
  color:#000000;
  text-align:left;
}
#u29971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u29971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29972 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:82px;
  width:777px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u29972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:41px;
}
#u29972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:144px;
  height:41px;
  display:flex;
  transition:none;
  color:#000000;
  text-align:left;
}
#u29973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u29973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29974 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:123px;
  width:777px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u29974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:41px;
}
#u29974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:144px;
  height:41px;
  display:flex;
  transition:none;
  color:#000000;
  text-align:left;
}
#u29975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u29975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29976 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:164px;
  width:777px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u29976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:41px;
}
#u29976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:144px;
  height:41px;
  display:flex;
  transition:none;
  color:#000000;
  text-align:left;
}
#u29977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u29977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29978 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:205px;
  width:777px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u29978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:41px;
}
#u29978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:144px;
  height:41px;
  display:flex;
  transition:none;
  color:#000000;
  text-align:left;
}
#u29979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u29979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29980 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:246px;
  width:777px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u29980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:41px;
}
#u29980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:287px;
  width:144px;
  height:41px;
  display:flex;
  transition:none;
  color:#000000;
  text-align:left;
}
#u29981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u29981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29982 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:287px;
  width:777px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u29982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:41px;
}
#u29982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29983 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:440px;
  width:934px;
  height:30px;
}
#u29984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:32px;
  display:flex;
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u29984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:32px;
}
#u29984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u29986 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:683px;
  width:81px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u29986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:34px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u29987 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:683px;
  width:85px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u29987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(217, 0, 27, 0.611764705882353);
}
#u29988 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:629px;
  width:15px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(217, 0, 27, 0.611764705882353);
}
#u29988 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
