body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:43px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:left;
}
#u32183 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:4px;
  width:690px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:left;
}
#u32183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u32184 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:620px;
  width:84px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32185 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:51px;
  width:690px;
  height:559px;
}
#u32186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u32186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32187 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:590px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:41px;
}
#u32187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:100px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u32188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32189 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:41px;
  width:590px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:41px;
}
#u32189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:100px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u32190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32191 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:82px;
  width:590px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:41px;
}
#u32191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:100px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u32192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32193 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:123px;
  width:590px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:41px;
}
#u32193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:100px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u32194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32195 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:164px;
  width:590px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:41px;
}
#u32195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:100px;
  height:354px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:354px;
}
#u32196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32197 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:205px;
  width:590px;
  height:354px;
  display:flex;
  transition:none;
  color:#000000;
}
#u32197 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:354px;
}
#u32197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u32198 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:268px;
  width:497px;
  height:98px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u32198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32198_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:180px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32199_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:180px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32199_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:180px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32199_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:180px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u32199 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:400px;
  width:506px;
  height:180px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u32199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32199_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u32199.hint {
}
#u32199_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:180px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u32199.disabled {
}
#u32199_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:180px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u32199.hint.disabled {
}
