body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u7123 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:198px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u7124 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:198px;
  width:90px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:43px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u7125 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:20px;
  width:639px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u7125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7126 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:65px;
  width:649px;
  height:123px;
}
#u7127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
  display:flex;
  transition:none;
  color:#000000;
  text-align:left;
}
#u7127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u7127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7128 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:0px;
  width:504px;
  height:41px;
  display:flex;
  transition:none;
  color:#7F7F7F;
  text-align:left;
}
#u7128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:41px;
}
#u7128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:134px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u7129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u7129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7130 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:41px;
  width:504px;
  height:41px;
  display:flex;
  transition:none;
}
#u7130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:41px;
}
#u7130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:134px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u7131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u7131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7132 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:82px;
  width:504px;
  height:41px;
  display:flex;
  transition:none;
  color:rgba(217, 0, 27, 0.5058823529411764);
  text-align:left;
}
#u7132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:41px;
}
#u7132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7133_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7133_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7133_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7133 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:154px;
  width:190px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7133_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7133.hint {
}
#u7133_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7133.disabled {
}
#u7133_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7133.hint.disabled {
}
#u7134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7134_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7134 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:115px;
  width:190px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7134 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7134_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7134.disabled {
}
.u7134_input_option {
}
#u7135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(217, 0, 27, 0.5058823529411764);
}
#u7135 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:152px;
  width:292px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(217, 0, 27, 0.5058823529411764);
}
#u7135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7135_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
