body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:885px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:43px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#FFFFFF;
  text-align:left;
}
#u26977 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:18px;
  width:869px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#FFFFFF;
  text-align:left;
}
#u26977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26978 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:120px;
  width:846px;
  height:367px;
}
#u26979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:41px;
}
#u26979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26980 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:703px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:41px;
}
#u26980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:143px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:41px;
}
#u26981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26982 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:41px;
  width:703px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:41px;
}
#u26982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:143px;
  height:41px;
  display:flex;
  transition:none;
  color:#000000;
  text-align:left;
}
#u26983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:41px;
}
#u26983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26984 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:82px;
  width:703px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:41px;
}
#u26984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:143px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:41px;
}
#u26985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26986 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:123px;
  width:703px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:41px;
}
#u26986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:143px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:41px;
}
#u26987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26988 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:164px;
  width:703px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:41px;
}
#u26988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:143px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:41px;
}
#u26989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26990 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:205px;
  width:703px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:41px;
}
#u26990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:143px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u26991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26992 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:246px;
  width:703px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:40px;
}
#u26992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:286px;
  width:143px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u26993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26994 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:286px;
  width:703px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:40px;
}
#u26994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:326px;
  width:143px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:41px;
}
#u26995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26996 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:326px;
  width:703px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:41px;
}
#u26996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26998 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:519px;
  width:144px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26998 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26998_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:24px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26999 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:519px;
  width:6px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u27001 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:84px;
  width:108px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u27001 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27001_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:24px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u27002 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:84px;
  width:6px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u27002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u27003 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:764px;
  width:63px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u27003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27004 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:557px;
  width:846px;
  height:200px;
}
#u27005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u27005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u27005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27006 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:0px;
  width:141px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u27006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u27006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27007 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:0px;
  width:89px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u27007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u27007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27008 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:0px;
  width:89px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u27008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u27008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27009 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:0px;
  width:73px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u27009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u27009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27010 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:0px;
  width:409px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u27010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u27010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:45px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u27011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u27011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27012 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:40px;
  width:141px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u27012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u27012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27013 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:40px;
  width:89px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u27013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u27013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27014 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:40px;
  width:89px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u27014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u27014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27015 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:40px;
  width:73px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u27015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u27015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27016 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:40px;
  width:409px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u27016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u27016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:45px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u27017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u27017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27018 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:80px;
  width:141px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u27018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u27018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27019 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:80px;
  width:89px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u27019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u27019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27020 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:80px;
  width:89px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u27020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u27020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27021 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:80px;
  width:73px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u27021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u27021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27022 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:80px;
  width:409px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u27022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u27022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:45px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u27023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u27023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27024 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:120px;
  width:141px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u27024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u27024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27025 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:120px;
  width:89px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u27025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u27025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27026 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:120px;
  width:89px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u27026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u27026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27027 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:120px;
  width:73px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u27027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u27027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27028 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:120px;
  width:409px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u27028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u27028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:45px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u27029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u27029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27030 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:160px;
  width:141px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u27030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u27030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27031 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:160px;
  width:89px;
  height:40px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u27031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u27031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27032 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:160px;
  width:89px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u27032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u27032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27033 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:160px;
  width:73px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u27033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u27033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27034 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:160px;
  width:409px;
  height:40px;
  display:flex;
  transition:none;
  text-align:left;
}
#u27034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u27034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u27034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
