body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:365px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u25978 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:530px;
  width:695px;
  height:365px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u25978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u25979 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:65px;
  width:1012px;
  height:408px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u25979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:43px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:left;
}
#u25980 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:17px;
  width:1013px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:left;
}
#u25980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u25982 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:429px;
  width:84px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u25982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u25983 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:429px;
  width:78px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u25983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25984 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:665px;
  width:663px;
  height:160px;
}
#u25985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:41px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u25985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:41px;
}
#u25985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25986 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:91px;
  height:41px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u25986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u25986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25987 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:300px;
  height:41px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u25987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u25987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25988 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:0px;
  width:105px;
  height:41px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:41px;
}
#u25988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25989 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:0px;
  width:105px;
  height:41px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:41px;
}
#u25989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:48px;
  height:39px;
  display:flex;
  transition:none;
  text-align:left;
}
#u25990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
}
#u25990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25991 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:41px;
  width:91px;
  height:39px;
  display:flex;
  transition:none;
  text-align:left;
}
#u25991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:39px;
}
#u25991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25992 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:41px;
  width:300px;
  height:39px;
  display:flex;
  transition:none;
  text-align:left;
}
#u25992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
}
#u25992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25993 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:41px;
  width:105px;
  height:39px;
  display:flex;
  transition:none;
}
#u25993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
}
#u25993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25994 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:41px;
  width:105px;
  height:39px;
  display:flex;
  transition:none;
  color:#016FA0;
}
#u25994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
}
#u25994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:48px;
  height:39px;
  display:flex;
  transition:none;
  text-align:left;
}
#u25995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
}
#u25995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25996 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:80px;
  width:91px;
  height:39px;
  display:flex;
  transition:none;
  text-align:left;
}
#u25996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:39px;
}
#u25996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25997 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:80px;
  width:300px;
  height:39px;
  display:flex;
  transition:none;
  text-align:left;
}
#u25997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
}
#u25997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25998 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:80px;
  width:105px;
  height:39px;
  display:flex;
  transition:none;
  color:#D9001B;
}
#u25998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
}
#u25998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25999 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:80px;
  width:105px;
  height:39px;
  display:flex;
  transition:none;
  color:#016FA0;
}
#u25999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
}
#u25999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:48px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:41px;
}
#u26000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26001 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:119px;
  width:91px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u26001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26002 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:119px;
  width:300px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u26002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u26002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26003 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:119px;
  width:105px;
  height:41px;
  display:flex;
  transition:none;
}
#u26003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:41px;
}
#u26003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26004 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:119px;
  width:105px;
  height:41px;
  display:flex;
  transition:none;
  color:#016FA0;
}
#u26004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:41px;
}
#u26004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26006 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:847px;
  width:10px;
  height:18px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u26006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u26006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u26007 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:847px;
  width:18px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u26007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u26008 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:847px;
  width:14px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u26008 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u26009 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:847px;
  width:17px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u26009 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u26010 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:847px;
  width:17px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u26010 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u26011 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:847px;
  width:17px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u26011 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26012 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:847px;
  width:10px;
  height:20px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u26012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u26012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u26013 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:846px;
  width:37px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u26013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u26014 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:847px;
  width:65px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u26014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u26015 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:847px;
  width:37px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u26015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u26016 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:847px;
  width:35px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u26017 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:843px;
  width:55px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u26017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26018_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26018_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26018_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26018_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u26018 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:847px;
  width:51px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u26018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26018_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u26018.hint {
}
#u26018_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u26018.disabled {
}
#u26018_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u26018.hint.disabled {
}
#u26019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26020 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:84px;
  width:36px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26020 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26020_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26021 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:84px;
  width:48px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26021 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26021_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26023_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26023_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26023_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26023_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26023 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:129px;
  width:144px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26023_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26023.hint {
}
#u26023_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26023.disabled {
}
#u26023_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26023.hint.disabled {
}
#u26024 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:133px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u26024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26025 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:135px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26025 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26025_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26026 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:204px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26026 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26026_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26027 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:204px;
  width:113px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26027 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26028 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:234px;
  width:179px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26028 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26029 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:234px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26029 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26029_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26030 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:177px;
  width:73px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26030 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26032 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:329px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26032 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26032_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26033 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:299px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26033 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26033_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26034 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:359px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26034 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26034_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26035 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:272px;
  width:239px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26035 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26036 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:329px;
  width:806px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26036 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26036_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26037 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:299px;
  width:23px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26037 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26037_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26038 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:359px;
  width:386px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26038 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26038_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26039 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:550px;
  width:90px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26039 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26039_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26040 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:551px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u26040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26041 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:636px;
  width:699px;
  height:1px;
  display:flex;
  transition:none;
}
#u26041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:2px;
}
#u26041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26042 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:395px;
  width:1012px;
  height:1px;
  display:flex;
  transition:none;
}
#u26042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:2px;
}
#u26042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u26044 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:586px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u26045 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:586px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26047 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:589px;
  width:60px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26047 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26047_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26048_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26048_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26048_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26048 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:589px;
  width:114px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26048_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26048.hint {
}
#u26048_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26048.disabled {
}
#u26048_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26048.hint.disabled {
}
#u26049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26050 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:589px;
  width:60px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u26050 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26050_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26051_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26051_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26051_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26051_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26051 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:589px;
  width:115px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u26051_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26051.hint {
}
#u26051_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26051.disabled {
}
#u26051_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26051.hint.disabled {
}
#u26052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#910012;
}
#u26052 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:405px;
  width:504px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#910012;
}
#u26052 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26052_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u26053 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:595px;
  width:96px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u26053 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26053_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u26054 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:498px;
  width:281px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u26054 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26054_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#016FA0;
}
#u26055 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:177px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#016FA0;
}
#u26055 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26055_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
