body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u21122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:365px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u21122 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:530px;
  width:695px;
  height:365px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21123 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:65px;
  width:1012px;
  height:408px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:43px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:left;
}
#u21124 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:17px;
  width:1013px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:left;
}
#u21124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u21126 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:429px;
  width:84px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u21127 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:429px;
  width:78px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u21127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21128 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:665px;
  width:663px;
  height:160px;
}
#u21129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:41px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u21129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:41px;
}
#u21129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21130 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:91px;
  height:41px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u21130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u21130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21131 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:300px;
  height:41px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u21131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u21131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21132 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:0px;
  width:105px;
  height:41px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u21132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:41px;
}
#u21132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21133 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:0px;
  width:105px;
  height:41px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u21133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:41px;
}
#u21133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:48px;
  height:39px;
  display:flex;
  transition:none;
  text-align:left;
}
#u21134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
}
#u21134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21135 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:41px;
  width:91px;
  height:39px;
  display:flex;
  transition:none;
  text-align:left;
}
#u21135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:39px;
}
#u21135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21136 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:41px;
  width:300px;
  height:39px;
  display:flex;
  transition:none;
  text-align:left;
}
#u21136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
}
#u21136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21137 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:41px;
  width:105px;
  height:39px;
  display:flex;
  transition:none;
}
#u21137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
}
#u21137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21138 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:41px;
  width:105px;
  height:39px;
  display:flex;
  transition:none;
  color:#016FA0;
}
#u21138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
}
#u21138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:48px;
  height:39px;
  display:flex;
  transition:none;
  text-align:left;
}
#u21139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
}
#u21139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21140 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:80px;
  width:91px;
  height:39px;
  display:flex;
  transition:none;
  text-align:left;
}
#u21140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:39px;
}
#u21140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21141 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:80px;
  width:300px;
  height:39px;
  display:flex;
  transition:none;
  text-align:left;
}
#u21141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
}
#u21141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21142 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:80px;
  width:105px;
  height:39px;
  display:flex;
  transition:none;
  color:#D9001B;
}
#u21142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
}
#u21142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21143 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:80px;
  width:105px;
  height:39px;
  display:flex;
  transition:none;
  color:#016FA0;
}
#u21143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
}
#u21143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:48px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u21144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:41px;
}
#u21144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21145 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:119px;
  width:91px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u21145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u21145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21146 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:119px;
  width:300px;
  height:41px;
  display:flex;
  transition:none;
  text-align:left;
}
#u21146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u21146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21147 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:119px;
  width:105px;
  height:41px;
  display:flex;
  transition:none;
}
#u21147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:41px;
}
#u21147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21148 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:119px;
  width:105px;
  height:41px;
  display:flex;
  transition:none;
  color:#016FA0;
}
#u21148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:41px;
}
#u21148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21150 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:847px;
  width:10px;
  height:18px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u21150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21151 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:847px;
  width:18px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u21152 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:847px;
  width:14px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u21152 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u21153 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:847px;
  width:17px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u21153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u21154 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:847px;
  width:17px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u21154 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u21155 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:847px;
  width:17px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u21155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21156 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:847px;
  width:10px;
  height:20px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u21156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u21157 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:846px;
  width:37px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u21157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u21158 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:847px;
  width:65px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u21158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u21159 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:847px;
  width:37px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u21159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u21160 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:847px;
  width:35px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u21161 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:843px;
  width:55px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u21161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21162_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21162_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21162_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u21162 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:847px;
  width:51px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u21162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21162_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u21162.hint {
}
#u21162_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u21162.disabled {
}
#u21162_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u21162.hint.disabled {
}
#u21163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21164 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:84px;
  width:36px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21164 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21164_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21165 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:84px;
  width:20px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21165 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21165_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21167_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21167_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21167_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21167 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:129px;
  width:144px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21167_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21167.hint {
}
#u21167_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21167.disabled {
}
#u21167_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21167.hint.disabled {
}
#u21168 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:133px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u21168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u21168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21169 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:135px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21169 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21169_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21170 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:204px;
  width:41px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21170 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21170_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21171 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:204px;
  width:113px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21172 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:234px;
  width:179px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21172 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21173 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:234px;
  width:41px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21173_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21174 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:177px;
  width:59px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21174 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21176 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:329px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21176_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21177 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:299px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21177 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21177_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21178 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:359px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21178 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21178_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21179 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:272px;
  width:239px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21179 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21180 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:329px;
  width:806px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21180_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21181 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:299px;
  width:23px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21181 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21181_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21182 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:359px;
  width:386px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21182_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21183 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:550px;
  width:62px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21184 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:551px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u21184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21185 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:636px;
  width:699px;
  height:1px;
  display:flex;
  transition:none;
}
#u21185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:2px;
}
#u21185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21186 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:395px;
  width:1012px;
  height:1px;
  display:flex;
  transition:none;
}
#u21186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:2px;
}
#u21186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u21188 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:586px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u21189 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:586px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21191 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:589px;
  width:41px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21191 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21191_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21192_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21192_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21192_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21192 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:589px;
  width:130px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21192_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21192.hint {
}
#u21192_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21192.disabled {
}
#u21192_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21192.hint.disabled {
}
#u21193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21194 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:589px;
  width:41px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u21194 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21194_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21195_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21195_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21195_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21195 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:589px;
  width:130px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u21195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u21195_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21195.hint {
}
#u21195_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21195.disabled {
}
#u21195_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u21195.hint.disabled {
}
#u21196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#910012;
}
#u21196 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:405px;
  width:504px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#910012;
}
#u21196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u21197 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:595px;
  width:68px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u21197 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21197_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u21198 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:498px;
  width:281px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u21198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21198_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#016FA0;
}
#u21199 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:177px;
  width:41px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#016FA0;
}
#u21199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
