body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u32063 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1000px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u32063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:774px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32064 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:55px;
  width:1000px;
  height:774px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:35px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u32066 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:729px;
  width:114px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u32066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u32067 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:729px;
  width:88px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u32068 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:619px;
  width:72px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u32068 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32068_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u32069 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:286px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u32069 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32069_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u32070 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:241px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u32070 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32070_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u32071 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:186px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u32071 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32071_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u32072 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:136px;
  width:36px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u32072 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32072_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u32073 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:186px;
  width:17px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u32073 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32073_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u32075_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u32075_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u32075_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u32075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32075 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:619px;
  width:500px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32075 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32075_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32075.hint {
}
#u32075_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32075.disabled {
}
#u32075_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32075.hint.disabled {
}
#u32076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32076 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:685px;
  width:24px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32076 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32076_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32077 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32078_input {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u32078_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u32078_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u32078_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u32078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32078 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:286px;
  width:500px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32078 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32078_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32078.hint {
}
#u32078_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32078.disabled {
}
#u32078_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32078.hint.disabled {
}
#u32079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32079 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:352px;
  width:24px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32079 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32079_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u32081 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:78px;
  width:100px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u32081 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32081_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:23px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32082 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:73px;
  width:6px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u32083 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:396px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u32083 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32083_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32084_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32084_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32084_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32084 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:233px;
  width:500px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32084_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32084.hint {
}
#u32084_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32084.disabled {
}
#u32084_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32084.hint.disabled {
}
#u32085 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:396px;
  width:746px;
  height:180px;
}
#u32086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u32086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u32086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32087 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:0px;
  width:333px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u32087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:40px;
}
#u32087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32088 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:0px;
  width:75px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u32088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u32088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32089 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:0px;
  width:114px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u32089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
}
#u32089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32090 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:0px;
  width:148px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u32090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u32090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:76px;
  height:35px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u32091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u32091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32092 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:40px;
  width:333px;
  height:35px;
  display:flex;
  transition:none;
  color:#027DB4;
  text-align:left;
}
#u32092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:35px;
}
#u32092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32093 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:40px;
  width:75px;
  height:35px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u32093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32094 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:40px;
  width:114px;
  height:35px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u32094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:35px;
}
#u32094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32095 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:40px;
  width:148px;
  height:35px;
  display:flex;
  transition:none;
  color:#027DB4;
}
#u32095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
}
#u32095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:76px;
  height:35px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u32096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u32096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32097 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:75px;
  width:333px;
  height:35px;
  display:flex;
  transition:none;
  color:#027DB4;
  text-align:left;
}
#u32097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:35px;
}
#u32097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32098 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:75px;
  width:75px;
  height:35px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u32098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32099 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:75px;
  width:114px;
  height:35px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u32099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:35px;
}
#u32099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32100 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:75px;
  width:148px;
  height:35px;
  display:flex;
  transition:none;
  color:#027DB4;
}
#u32100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
}
#u32100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:76px;
  height:35px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u32101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u32101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32102 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:110px;
  width:333px;
  height:35px;
  display:flex;
  transition:none;
  color:#027DB4;
  text-align:left;
}
#u32102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:35px;
}
#u32102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32103 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:110px;
  width:75px;
  height:35px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u32103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32104 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:110px;
  width:114px;
  height:35px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u32104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:35px;
}
#u32104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32105 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:110px;
  width:148px;
  height:35px;
  display:flex;
  transition:none;
  color:#027DB4;
}
#u32105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
}
#u32105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:76px;
  height:35px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u32106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u32106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32107 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:145px;
  width:333px;
  height:35px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:35px;
}
#u32107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32108 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:145px;
  width:75px;
  height:35px;
  display:flex;
  transition:none;
  text-align:left;
}
#u32108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u32108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32109 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:145px;
  width:114px;
  height:35px;
  display:flex;
  transition:none;
  color:#555555;
  text-align:left;
}
#u32109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:35px;
}
#u32109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32110 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:145px;
  width:148px;
  height:35px;
  display:flex;
  transition:none;
  color:#027DB4;
}
#u32110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
}
#u32110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32111 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:249px;
  width:24px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32111_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u32112 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:186px;
  width:209px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u32112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32112_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32113_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32113 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:128px;
  width:200px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32113 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32113_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32113.disabled {
}
.u32113_input_option {
}
