body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1124px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:43px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:left;
}
#u32014 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:30px;
  width:1073px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:left;
}
#u32014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u32015 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:89px;
  width:110px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u32015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32016 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:137px;
  width:1074px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.1387143889673392deg);
  -moz-transform:rotate(-0.1387143889673392deg);
  -ms-transform:rotate(-0.1387143889673392deg);
  transform:rotate(-0.1387143889673392deg);
  transition:none;
}
#u32016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:2px;
}
#u32016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32017 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:157px;
  width:48px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32017 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32017_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32018 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:157px;
  width:60px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32018 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32018_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32019_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32019_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32019 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:157px;
  width:130px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32019 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32019_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32019.disabled {
}
.u32019_input_option {
}
#u32020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32020 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:157px;
  width:60px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32020 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32020_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u32021 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:213px;
  width:110px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u32021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u32024 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:216px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u32025 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:216px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u32026 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:216px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32027 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:264px;
  width:1073px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.12970820480923936deg);
  -moz-transform:rotate(-0.12970820480923936deg);
  -ms-transform:rotate(-0.12970820480923936deg);
  transform:rotate(-0.12970820480923936deg);
  transition:none;
}
#u32027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:2px;
}
#u32027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32028 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:284px;
  width:1084px;
  height:146px;
}
#u32029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:52px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u32029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:52px;
}
#u32029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32030 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:0px;
  width:100px;
  height:52px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u32030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u32030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32031 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:0px;
  width:137px;
  height:52px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u32031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:52px;
}
#u32031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32032 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:0px;
  width:96px;
  height:52px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u32032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:52px;
}
#u32032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32033 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:0px;
  width:166px;
  height:52px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u32033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:52px;
}
#u32033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32034 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:0px;
  width:102px;
  height:52px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u32034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
}
#u32034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32035 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:0px;
  width:175px;
  height:52px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u32035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:52px;
}
#u32035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32036 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:0px;
  width:164px;
  height:52px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u32036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:52px;
}
#u32036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:132px;
  height:47px;
  display:flex;
  transition:none;
}
#u32037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
}
#u32037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32038 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:52px;
  width:100px;
  height:47px;
  display:flex;
  transition:none;
}
#u32038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u32038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32039 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:52px;
  width:137px;
  height:47px;
  display:flex;
  transition:none;
}
#u32039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:47px;
}
#u32039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32040 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:52px;
  width:96px;
  height:47px;
  display:flex;
  transition:none;
}
#u32040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:47px;
}
#u32040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32041 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:52px;
  width:166px;
  height:47px;
  display:flex;
  transition:none;
}
#u32041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:47px;
}
#u32041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32042 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:52px;
  width:102px;
  height:47px;
  display:flex;
  transition:none;
}
#u32042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u32042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32043 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:52px;
  width:175px;
  height:47px;
  display:flex;
  transition:none;
}
#u32043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
#u32043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32044 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:52px;
  width:164px;
  height:47px;
  display:flex;
  transition:none;
}
#u32044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:47px;
}
#u32044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:132px;
  height:47px;
  display:flex;
  transition:none;
}
#u32045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
}
#u32045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32046 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:99px;
  width:100px;
  height:47px;
  display:flex;
  transition:none;
}
#u32046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u32046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32047 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:99px;
  width:137px;
  height:47px;
  display:flex;
  transition:none;
}
#u32047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:47px;
}
#u32047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32048 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:99px;
  width:96px;
  height:47px;
  display:flex;
  transition:none;
}
#u32048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:47px;
}
#u32048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32049 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:99px;
  width:166px;
  height:47px;
  display:flex;
  transition:none;
}
#u32049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:47px;
}
#u32049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32050 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:99px;
  width:102px;
  height:47px;
  display:flex;
  transition:none;
}
#u32050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u32050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32051 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:99px;
  width:175px;
  height:47px;
  display:flex;
  transition:none;
}
#u32051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
#u32051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32052 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:99px;
  width:164px;
  height:47px;
  display:flex;
  transition:none;
}
#u32052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:47px;
}
#u32052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u32054 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:348px;
  width:33px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u32054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32054_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u32055 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:397px;
  width:33px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u32055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32055_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32056 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:157px;
  width:60px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32056 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32056_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32057_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32057_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32057_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32057_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32057 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:157px;
  width:130px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32057_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32057.hint {
}
#u32057_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32057.disabled {
}
#u32057_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32057.hint.disabled {
}
#u32058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32058 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:157px;
  width:60px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32058 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32058_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32059_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32059_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32059_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32059 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:159px;
  width:130px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32059_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32059.hint {
}
#u32059_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32059.disabled {
}
#u32059_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32059.hint.disabled {
}
#u32060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32061 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:463px;
  width:10px;
  height:18px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u32061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u32061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u32062 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:463px;
  width:18px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u32062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u32063 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:463px;
  width:14px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u32063 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u32064 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:463px;
  width:17px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u32064 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u32065 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:463px;
  width:17px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u32065 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u32066 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:463px;
  width:17px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u32066 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32067 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:463px;
  width:10px;
  height:20px;
  display:flex;
  transition:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u32067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u32067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u32068 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:462px;
  width:37px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u32068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u32069 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:463px;
  width:65px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u32069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u32070 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:463px;
  width:37px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u32070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u32071 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:463px;
  width:35px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u32072 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:459px;
  width:55px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u32072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32073_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32073_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32073_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u32073 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:463px;
  width:51px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u32073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32073_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u32073.hint {
}
#u32073_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u32073.disabled {
}
#u32073_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u32073.hint.disabled {
}
#u32074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32074_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u32074 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:159px;
  width:130px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u32074 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32074_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u32074.disabled {
}
.u32074_input_option {
  text-align:center;
}
#u32075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32075_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  padding:2px 2px 2px 5px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u32075 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:159px;
  width:130px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u32075 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32075_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u32075.disabled {
}
.u32075_input_option {
  text-align:center;
}
#u32076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u32076 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:347px;
  width:33px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u32076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32076_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u32077 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:395px;
  width:33px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u32077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u32077_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
